{
  "root": true,
  "extends": "airbnb",
  "globals": {
    "wp": true
  },
  "env": {
    "amd": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": [1,4],
    "no-plusplus": [0,0],
  }
}
